<!--
  File Name: footer.ejs
  Student: Adam Hodgins (301332994)
  Date: October 3 2023
  Comment:  Sets up a Find me panel for the sidebar, used to have permanent links to Github and Linkedin
-->
<ul class="sidebarFind">
  <li style="border-bottom:1px solid var(--color3)">Find me</li>
  <li><a href="https://www.linkedin.com/in/adam-hodgins/" target="_blank"> >LinkedIn </a></li>
  <li><a href="https://github.com/Equinar" target="_blank">>Github</a></li>
</ul>
<footer>
  <br>
  <div class="copyright">
      &copy; 2023 Adam Hodgins.
  </div>
  <br>
</footer>
  