<!--
  File Name: nav.ejs
  Student: Adam Hodgins (301332994)
  Date: October 3 2023
  Comment: Sets up navigation list for the sidebar
-->
<nav>
    <ul>
      <li><a href="/">>Home</a></li>
      <li><a href="/projects">>Projects</a></li>
      <li><a href="/services">>Services</a></li>
      <li><a href="/contact">>Contact</a></li>
      <li><a href="/about">>About</a></li>
    </ul>
  </nav>

  